@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.3s ease-out;
}


@keyframes slideOut {
  from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}
}

.slide-out {
  animation: slideOut 0.3s ease-out forwards;
}
/* Customize scrollbar */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: legacy;
}

::-webkit-scrollbar-thumb:hover {
    display: none;
} 

* {
    /* font-family: "Sour Gummy", sans-serif;  */
    font-weight: 400;
    font-style: normal;
}